p {
    color:darkgoldenrod;
    font-family:sans-serif;
}

.mainParagraph {
    color:blue;
    font-weight: 700;
    font-style: italic;
}

.special.secondParagraph {
    color: sandybrown;
}

.secondParagraph {
    color: purple;
}

#specialID {
    color: gold;
}

.list {
    background-color: navajowhite;
    border: 1px solid black;
    padding: 10px;
}

.listItem {
    color: black;
    font-size: large;
}

.list .listItem {
    color: orange;
}

.listItem:nth-child(2) {
    color: purple;
}

.image {
    width: 150px;
    height: 100px;
}